@import './variables';
.el-button--primary {
    color: #fff;
    background-color: $patsnap-color;
    border-color: $patsnap-color;
}

.el-button--primary:hover {
    color: #fff!important;
    border-color: $patsnap-color;
    background-color: $patsnap-color;
}

// .el-button {
//     border-color: $patsnap-color;
// }
.el-button:hover {
    color: $patsnap-color;
    border-color: $patsnap-color;
}

$primary-color:#20a0ff;
.zk-list-header {
    background: #2b333d!important;
}