@import './variables';

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.block{
    display: block;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.divider{
    background-color:$border-color;
    height:1px;
}
.card{
    background-color:#fff;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
}