$baseline-grid: 8px !default;
$layout-gutter-width: ($baseline-grid * 2) !default;
$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 960px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-lg: 1920px !default;
$m-primary-color:#000000;
$grey-color:#666;
$second-color:#1cab1a;
$label-color:$grey-color;
$bg-color:#f0f0f0;
$tab-bg:#f4f4f4;
$border-color:#aaa9ae;
$gutter:8px !default;
$patsnap-color:#75bb00;