@import "../variables";
.zk-radio {
    input[type="radio"] {
        display: none;
    }
    .radio+.radio {
        margin-left: 10px;
    }
    .radio {
        margin: 0px;
        label {
            padding-left: 0px;
        }
        label:before {
            font-family: "FontAwesome";
            font-size: 16px;
            content: "\f10c";
            margin-right: 2px;
            width: 13px;
            display: inline-block;
            color: #2e6da4;
        }
    }
    .radio.checked {
        label:before {
            content: "\f192";
        }
    }
}